._d00 {
    background: #f5f6f7;
    border-top: 1px solid #ebedf0;
    color: #90949c;
    font-size: 12px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
    padding: 2px;
    padding-left: 8px;
    text-align: left;
    text-shadow: none
}

._d01 {
    background-color: #fff;
    border: none;
    border-top: 1px solid #ebedf0;
    color: #1c1e21;
    font-size: 14px;
    height: 100%;
    line-height: 22px;
    outline: none;
    overflow: hidden;
    padding: 5px 8px;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: none
}

._5553 {
    display: block
}

._5559 {
    color: #8d949e;
    display: block;
    font-size: small
}

._5551 {
    color: #8d949e;
    display: inline
}

._68kc {
    float: right
}

._w34 {
    background: white;
    padding: 5px;
    text-align: center
}

._w35 {
    background: #ebedf0;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: 4px;
    width: 95%
}

input._w35 {
    line-height: 22px
}

/*FB_PKG_DELIM*/
#bootloader_KfqcKI5 {
    height: 42px;
}

.bootloader_KfqcKI5 {
    display: block!important;
}
